body.dark-mode {
  --bg-color: #121212;
  --text-color: #eee;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body.light-mode {
  --bg-color: #fff;
  --text-color: #222;
  background-color: var(--bg-color);
  color: var(--text-color);
}
