.wrapper {
    width: 100%;
}

.spinner {
    animation: spin 1s linear infinite;
    color: rgba(var(--text-primary-rgb), 0.5);
}

.available {
    color: var(--success);
}

.taken {
    color: var(--error);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}